@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-primary {
  background-color: #0073fa;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #0073fa;
  padding-bottom: 1rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.logo {
  top: 0;
  left: 0;
}

.z-100 {
  z-index: 100;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-1 {
  padding: 0 1rem;
}

.mt-10 {
  margin-top: 10%;
}

.mt-20 {
  margin-top: 20%;
}

.mt-30 {
  margin-top: 30%;
}

.main-intro h1,
.intro-content {
  color: #fff;
}

.intro-content {
  font-size: 20px;
  margin-top: 1rem;
}

.sub-intro {
  font-size: 17px;
  margin-top: 0.1rem;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.category-card {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.category-card .card {
  padding: 0 0.5rem;
  min-width: 20%;
  border-radius: 5%;
  height: auto;
  border: 1px solid #fff;
}

.aqi {
  margin-bottom: 1rem;
}

.category-card .aqi {
  font-weight: 500;
  color: #fff;
  font-size: 45px;
}

.category-card .status {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.gap-1 {
  display: flex;
  gap: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.coordinates input {
  width: 4rem;
  height: 2.3rem;
  font-size: 30px;
  padding-left: 0.1rem;
}

.sample-intro {
  margin-bottom: 1rem;
}

.get-pollution {
  width: auto;
  background-color: #fff;
  border: 1px solid transparent;
  margin-top: 1rem;
  border-radius: 15px;
  text-decoration: none;
  color: #161fc8;
  font-size: 25px;
  font-weight: 400;
  padding: 1rem 2rem;
}

.get-pollution:hover {
  border: 2px solid #161fc8;
  scale: 1.1;
}

.sample-container {
  width: 100%;
  padding: 0 1rem;
  background-color: #1d1d1d;
  color: #fff;
  padding-top: 5%;
}

.sample-card .image img {
  width: auto;
  height: 70%;
  object-fit: cover;
}

.flex {
  display: flex;
}

.coord {
  font-size: 20px;
  font-weight: 500;
}

.aqi-status p {
  font-size: 18px;
}

.aqis {
  margin-top: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.date {
  margin-bottom: 1rem;
}

.btn-goback {
  background-color: #eb6e4b;
  padding: 0.5rem 1rem;
  bottom: 3rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  right: 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 24px;
  height: 3rem;
  width: fit-content;
}

.concentrations .title {
  margin-bottom: 1rem;
}

.loading {
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  right: 50%;
  margin-top: 40%;
}

.dot-flashing {
  margin-top: 40%;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
  content: "Loading";
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

.mt-50 {
  margin-top: 40rem;
}

.error-container {
  height: 100%;
  width: 100%;
}

.error {
  right: 0;
  height: 100%;
  width: 100%;
  background-size: 40%;
}

.invalid {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("/public/images/error-2.png");
  height: 40vh;
  width: 80vw;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  right: -80%;
  top: 20%;
}

.invalid p {
  position: absolute;
  bottom: 5%;
  margin-top: 1rem;
}

@keyframes dot-flashing {
  0% {
    background-color: #fff;
  }

  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

@media (min-width: 768px) {
  .main {
    height: auto;
  }

  .main-intro {
    margin-top: 10%;
  }

  .main-intro h1 {
    font-size: 43px;
  }

  .sub-intro {
    font-size: 25px;
  }

  .intro-content {
    font-size: 30px;
  }

  .coordinates input {
    width: 6rem;
    height: 3.5rem;
    font-size: 35px;
    padding-left: 0.1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .sample-intro {
    font-size: 35px;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  .category-card {
    flex-wrap: nowrap;
    margin-bottom: 2rem;
  }

  .sample {
    width: 80%;
    padding-bottom: 2rem;
  }

  .sample-card .image img {
    width: auto;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .aqis {
    margin-bottom: 5px;
  }

  .aqi-status p {
    font-size: 30px;
    margin-left: 10rem;
  }

  .coord {
    font-size: 40px;
    font-weight: 500;
    margin-left: 3rem;
  }

  .logo {
    padding-left: 17rem;
  }

  .btn-goback {
    margin-bottom: 10rem;
  }

  .invalid {
    background-image: url("/public/images/error-2.png");
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    right: 5%;
    top: 20%;
  }

  .invalid p {
    position: absolute;
    top: 0;
  }
}
